[submodule "dependencies/UsersHub-authentification-module"]
	path = dependencies/UsersHub-authentification-module
	url = ../UsersHub-authentification-module.git
[submodule "dependencies/Utils-Flask-SQLAlchemy"]
	path = dependencies/Utils-Flask-SQLAlchemy
	url = ../Utils-Flask-SQLAlchemy.git
[submodule "dependencies/RefGeo"]
	path = dependencies/RefGeo
	url = ../RefGeo.git
[submodule "dependencies/Utils-Flask-SQLAlchemy-Geo"]
	path = dependencies/Utils-Flask-SQLAlchemy-Geo
	url = ../Utils-Flask-SQLAlchemy-Geo.git
